<div class="holder">
  <!-- views all requests here  -->
  <h3>
    Existing Permission Requests<span
      ><button class="pull-right mr-5 btn btn-primary">
        New Request
      </button></span
    >
  </h3>
  <div class="permission-cards">
    <div class="card" *ngFor="let perm of permissions">
      <div
        class="card-header"
        [class.status-pending]="
          perm.verification_level == 0 || perm.verification_level == 1
        "
        [class.status-granted]="perm.verification_level == 2"
        [class.status-rejected]="perm.verification_level == 3"
      >
        <div
          [class.status-pending]="
            perm.verification_level == 0 || perm.verification_level == 1
          "
          [class.status-granted]="perm.verification_level == 2"
          [class.status-rejected]="perm.verification_level == 3"
        >
          <strong>Requirement:</strong>
          <!-- <span *ngFor="let roomno of perm.room">&nbsp; {{ roomno }} </span> -->
          <span> {{ perm.room }}</span>
          <span class="pull-right"
            >Status: {{ statusSwitch(perm.verification_level) }}</span
          >
        </div>
      </div>
      <div
        class="card-body"
        [class.status-pending]="
          perm.verification_level == 0 || perm.verification_level == 1
        "
        [class.status-granted]="perm.verification_level == 2"
        [class.status-rejected]="perm.verification_level == 3"
      >
        <div class="card-title">Required for: {{ perm.reason }}</div>
        <div class="row">
          <div class="col-md-6">
            <div class="card-text">
              Date:<strong> {{ perm.startDate }} to {{ perm.endDate }}</strong>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-text">
              Student Name:<strong> {{ perm.name }}</strong>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card-text">
              Timings:
              <strong>{{ perm.startTime }} to {{ perm.endTime }}</strong>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-text">Student Branch: {{ perm.branch }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
